:root {
  --primary: #2d3436;
  --secondary: #636e72;
  --accent: #646cff;
  --accent-dark: #535bf2;
  --background: #242424;
  --text: rgba(255, 255, 255, 0.87);
  --light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  color: var(--accent-dark);
}